/* Page styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
	font-family:arial; 
  color:#afbdcf; 
  text-transform:uppercase; 
  font-size:16px; 
  font-weight:normal;
  margin-bottom:20px;
  width:500px; height:50px; background:#F1F2F4;  
  position:absolute; top:0px; left:0px;margin: 0px;
  padding: 18px;
  text-align: center;
}

body {
  background: url(../images/app/books_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


form {
	backdrop-filter: blur(3px);
	border-radius: 2px;
  width: 500px;
  height: 600px;
  margin: 0% auto;
  margin-left: 60%;
  padding: 60px 0px 0px 100px;
  outline: 5px solid rgba(0,0,0,0.1);
  position:relative;
}



.login_form{
  height: 400px;
  margin: 100px auto;
  margin-left: 60%;
  padding: 125px 0px 0px 100px;
}


/* Input form Style */



input{
  border: 2px solid #afbdcf;
  border-radius: 5px;
  height: 35px;
  width:300px;
  color: #000000;
  background: transparent;
  font-size: 14px;
  padding-left: 20px;
  box-shadow: none;  
}

select, option{
	border: 2px solid #afbdcf;
  border-radius: 5px;
  height: 35px;
  width:300px;
  color: #000000;
  background: transparent;
  font-size: 14px;
  padding-left: 20px;
  box-shadow: none; 
}

.input_wrap span{
	color: red;
}

.login_form input {
	height: 43px;
}

.login_form select, option{
	height: 43px;
}

/* Label style after Input field is in focus. Can also use input:focus ~ label to select sibling. */




input:focus + label, input.has-content + label{
  font-size: 12px;
  color: #afbdcf;
  top: -5px;
  left:10px;
  background: #ffffff;
  padding: 0px 5px 0px 5px;
}

.input_wrap {
  position:relative;
}

.single_input {
  position:relative;
}

.input_wrap label {
  font-family:sans-serif;
  font-size:16px;
  color: #afbdcf;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  pointer-events: none;
}

.login_form label{
	padding: 14px;
}

input:focus {outline:none;}