body, div{
	background-color:  #183d59;
}
.book_wrap{
	display: inline-block;
}
.cover_section{
	display: inline-block;
	background-color: rgba(55, 112, 150, 0.3);
	margin: 30px;
	padding: 15px;
	border-radius: 15px;
}

.cover_section > img{
	width: 275px;
	height: 400px;
}

.cover_section div{
	background: transparent;
}

.likeFavourite div{
	display: inline-block;
}

.likeFavourite img{
	margin-left: 42px;
	margin-right: 39px;
}

.likeFavourite img:hover{
	transform: scale(1.1);
}

.likes{
	background:transparent;
	text-align: center;
}

.likes img{
	height: 47px;
}

.likes span{
	color: #d9dadd;
}

.details{
	position: absolute;
	display: inline-block;
	width: 60%;
	font-size: 20px;
	color: #d9dadd;
	margin: 30px;
}

.details ul{
	padding-left: 20px;
	margin: 0px;
	display: inline;
}

.details li{
	display: inline;
	padding: 10px;
}

.details span{
	line-height: 30px;
}

.details b{
	font-weight: 100;
	color: #34a1ea;
	padding-right: 10px;
}

.details .description{
	margin-left: 20px;
}

.details a{
	text-decoration: none;
}

.details a div{
	text-align: center;
	color:#d9dadd;
	background-color: #4e697d;
	padding: 10px;
	margin-top:20px;
	width: 200px;
	border-radius: 12px;
	display: inline-block;
	cursor: pointer;
}

.details a div:hover{
	color: #183d59;
	background-color: #d9dadd;
	box-shadow: 0 0 25px #377096;
}

.details form{
	display: inline-block;
	margin: 20px;
}


.details form input[type=submit]{
	text-align: center;
	color:#d9dadd;
	background-color: #4e697d;
	padding: 10px;
	margin-top:20px;
	width: 200px;
	height: 43px;
	font-size: 20px;
	border-radius: 12px;
	border:none;
	display: inline-block;
	cursor: pointer;
}

.details form input[type=submit]:hover{
	color: #183d59;
	background-color: #d9dadd;
	box-shadow: 0 0 25px #377096;
}

.details #delete{
	color:red;
	background-color: #d9dadd;
}

.details #delete:hover{
	background-color: red;
	color: white;
}

.review_wrap{
	color:#d9dadd;
}

.review_wrap h2{
	text-align: center;
	font-size: 30px;
}

.my_review{
	width: 46%;
	margin:20px;
	background-color: rgba(55, 112, 150, 0.3);
	padding-left: 10px;
	padding-bottom: 5px;
	border-radius: 12px;
}

.my_review b{
	color: #34a1ea;
}

.my_review textarea{
	display: block;
	width: 95%;
	height: 60px;
	background: transparent;
	color: #d9dadd;
	border:none;
	font-size: 18px;
	resize: none;
}

.my_review textarea:focus{
	resize: vertical;
}

.my_review textarea::placeholder {
  color: #d9dadd;
  letter-spacing:3px;
  font-family: sans-serif;
}


.my_review button{
	text-align: center;
	color:#d9dadd;
	background-color: #4e697d;
	margin:7px;
	width: 80px;
	height: 33px;
	font-size: 18px;
	border-radius: 12px;
	border:none;
	display: inline-block;
	cursor: pointer;
}

.my_review button:hover{
	color: #183d59;
	background-color: #d9dadd;
	box-shadow: 0 0 25px #377096;
}


#bookReviewByUsers{
	width: 50%;
}

#bookReviewByUsers b{
	color:#34a1ea;
}

#bookReviewByUsers div{
	background-color: rgba(55, 112, 150, 0.3);
	padding: 15px;
	border-radius: 12px;
	margin: 20px;
}

#bookReviewByUsers span{
	color: #0080d6;
	cursor: pointer;
}
#bookReviewByUsers span:hover{
	text-decoration: underline;
}

.review_wrap > a{
	text-decoration: none;
}

.review_wrap > a div{
	text-align: center;
	width: 45%;
	margin: 20px;
	color: #d9dadd;
	background-color: #4e697d;
	border-radius: 12px;
	font-size: 20px;
	height: 20px;
	padding: 15px;

}

.review_wrap > a div:hover{
	color: #183d59;
	background-color: #d9dadd;
	box-shadow: 0 0 25px #377096;
}