body, div{
	background-color:#183d59;
}

.form_wrap{

	margin: 15px;
	text-align: center;
}

.form_wrap form{
	font-family: sans-serif;
	width: 400px;
	color: #d9dadd;
	background-color: rgba(55, 112, 150, 0.3);
	border-radius: 15px;
	padding: 15px 30px;
	text-align: left;
	display: inline-block;
}

.form_wrap input::placeholder{
	color:#b7bccc;
}

.form_wrap textarea::placeholder{
	color:#b7bccc;
}


.form_wrap input[type=text] , .form_wrap input[type=number]{
	font-size: 18px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	border-radius: 12px;
	border:none;
	color:#d9dadd;
	background-color: #4e697d;
}

.form_wrap textarea{
	font-size: 18px;
	width: 100%;
	height: 60px;
	padding-left: 10px; 
	border:none;
	resize: vertical;
	border-radius: 12px;
	color:#d9dadd;
	background-color: #4e697d;
}

.form_wrap span{
	margin-right: 15px;
}


.form_wrap input[type=checkbox]{
	margin-left: 20px;
}

.form_wrap input[type=file]{
	float:right;
}

.form_wrap input[type=date]{
	font-size: 18px;
	float: right;
	width: 250px;
	height: 30px;
	padding-left: 10px;
	border-radius: 12px;
	border:none;
	color:#d9dadd;
	background-color: #4e697d;
}

.form_wrap input[type=submit]{
	text-align: center;
	color:#d9dadd;
	background-color: #4e697d;
	margin:7px;
	width: 100%;
	height: 40px;
	font-size: 18px;
	border-radius: 12px;
	border:none;
	display: inline-block;
	cursor: pointer;
}

.form_wrap input[type=submit]:hover{
	color: #183d59;
	background-color: #d9dadd;
	box-shadow: 0 0 25px #377096;
}

.form_wrap .error{
	color: #ff5757;
}