body,div{
	background-color:  #183d59;
}

h2{
	color: #d9dadd;
}

.review_wrap{
	margin: 40px;
	color: #d9dadd;
	text-align: center;
}

.single_review{
	display: inline-block;
	width: 50%;
	text-align: left;
	background-color: rgba(55, 112, 150, 0.3);
	padding: 15px;
	border-radius: 12px;
	margin: 20px;
}

.single_review b{
	color:#34a1ea;
}


.nav_links{
	margin-top: 20px;
	text-align: center;
}

.nav_links a{
	color: #d9dadd;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 15px;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
}

.nav_links a:hover{
	background: #4e697d;
}

.review_wrap #current_page_link{
	color: #183d59;
	background-color: #d9dadd;
}